<div class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
   <% data.articles.forEach(({title, url, urlToImage, content}) =>{ %>
      <div class="container">
         <div class="jumbotron">
            <div style="display: flex;">
               <div>
               <h1><%= title %> </h1>
               <p style="font-size: large;"><%= content.split('[')[0] %> </p>
               </div>
               <img src="<%= urlToImage%>" alt="<%= title%>" class="article-image">
            </div>
            <a href="<%= url%>" target="_blank">Source</a>
         </div>
      </div>
   <%}) %> 
</div>