<div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
   <div class='post-container' style="display: flex;">
      <div class='posts'>
         <% allPosts.reverse().forEach(({visibility,title,picture,content,tags, authorNickname, time})=>{%>
            <% if(visibility===true){ %>
               <div class="container single-post-container">
                  <div class="jumbotron post-jumbotron">
                     <div style="display: flex;">
                        <div style="padding-right: 30px;">
                           <% if (picture !== '') { %>
                              <img src="<%=picture%>" alt="<%=title%>" class='post-picture-preview'> 
                           <% } %> 
                        </div>
                        <div>
                           <h1><%= title %></h1>
                           <p><%= content %> </p>
                           <p><%= tags %> </p>
                           <p>Posted by <%= authorNickname %> at <%= time %>  </p>
                        </div>
                     </div>
                  </div>
               </div>
            <% } %>
         <%})%> 
      </div>
   </div>
</div>
