<div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
   <div class='post-container' style="display: flex;">
      <div class='posts'>
         <% allPostsByUser.reverse().forEach(({visibility,title,picture,content,tags, authorNickname, time})=>{%>
            <div class="container single-post-container">
               <div class="jumbotron post-jumbotron">
                  <div style="display: flex;">
                     <div style="padding-right: 30px;">
                        <% if (picture !== '') { %>
                           <img src="<%=picture%>" alt="<%=title%>" class='post-picture-preview'> 
                           <% } %> 
                        </div>
                        <div>
                           <% if(visibility===true){ %>
                              <label>Status: <span style="color: rgb(33, 236, 33);">Visible</span></label>
                              <% } else { %>
                              <label>Status: <span style="color: rgb(230, 215, 82);">Restricted by admin</span></label>
                           <% } %>
                           <h1><%= title %></h1>
                           <p><%= content %> </p>
                           <p><%= tags %> </p>
                           <p>Posted by <%= authorNickname %> at <%= time %>  </p>
                        </div>
                     </div>
                  </div>
               </div>
            <%})%> 
      </div>
   </div>
</div>
